/target/
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/nbproject/
/andhow/target/
nbproject/project.properties
/andhow/nbproject/
/andhow copy/nbproject/
/andhow copy/target/
/andhow-compile-processor/nbproject/
/andhow-compile-processor/target/
/andhow-compile-processor copy/target/
/andhow-api/target/